@model ChoixResto.ViewModels.AccueilViewModel
@{
    Layout = null;
}

<style type="text/css">
    table {
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid black;
    }
</style>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Je suis la vue index
        <li>@Model.Message</li>
        <li>@Html.Raw(Model.Message)</li>

    </div>
</body>
</html>
